{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h1 class="mt-2 text-center">Budget Plan & Spend Tracking for  {{ budget_month_date }}</h1>
          <div class="mt-2"></div>
          <div class="mt-2"></div>
          <div class="row">
          <div class="col-md-4">
         <div class="card">
            <div class="card-body">
            <h5 class="card-title">Budget left this month</h5>
            <p class="card-text">$ {{total_budget_left| floatformat:2}}</p>
        </div>
      </div>
      </div>
        <div class="col-md-4">
           <div class="card" >
            <div class="card-body">
            <h5 class="card-title">Budget spend this month</h5>
            <p class="card-text">{{total_monthly_budget_percentage| floatformat:2}}%</p>
          </div>
      </div>

      </div>
          <div class="col-md-4">
           <div class="card" >
            <div class="card-body">
            <h5 class="card-title">You can still spend</h5>
            <p class="card-text">
            {% if total_monthly_budget_percentage <= 50 %}
            <div class="text-success">
            <strong>${{total_monthly_budget_left| floatformat:2}}</strong>
            </div>
            {% elif total_monthly_budget_percentage > 50 <= 80 %}
            <div class="text-warning">
            <strong>${{ total_monthly_budget_left| floatformat:2 }}</strong>
            </div>
            {% else %}
            <div class="text-danger">
            <strong>${{total_monthly_budget_left| floatformat:2}}</p></strong>
            </div>
            </p>
            {% endif %}
          </div>
      </div>

      </div>
     </div>

  <div class="mt-2"></div>
  <div class="d-flex flex-row-reverse">


<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="mt-2"></div>
    <button type="submit" class="btn btn-primary">Show plan</button>
  </form>
  </div>
 <div class="mt-2"></div>
 {% if budgets_for_selected_month %}
<table class="table  table-bordered">
<thead>
<tr>
<th scope="col">Category</th>
<th scope="col">Monthly Budget</th>
<th scope="col">Monthly Spend</th>
<th scope="col">Remaining Budget </th>
<th scope="col">Actions</th>
</thead>
<tbody>
{% endif %}
{% if budgets_for_selected_month %}
    {% for budget in budgets_for_selected_month %}
        <tr>
        <td>{{ budget.category }}</td>
        <td>${{ budget.budget_amount | floatformat:2 }}</td>
        <td>{% if budget.monthly_spend >= 0 %} ${{ budget.monthly_spend|floatformat:2 }}
            {% elif budget.monthly_spend <  0 %} <div class="text-danger">${{ budget.monthly_spend|floatformat:2|cut:"-" }}</div>
            {% endif %}
        </td>
         <td> 
         <div class="text-center">
         ${{ budget.total_left | floatformat:2 }}<br/>
       <small>
          	{% if budget.total_percent_left <= 20 %}
          <div class="text-danger"><strong>{{ budget.total_percent_left | floatformat:2 }}% </strong></div>
          {% elif budget.total_percent_left > 20 and budget.total_percent_left <= 80  %}
            <div class="text-success"><strong>{{ budget.total_percent_left | floatformat:2 }}% </strong></div>
          {% else %}
            <div class="text-primary"><strong>{{ budget.total_percent_left | floatformat:2 }}% </strong></div>

     	{% endif %}
          	remaining</small>
          	</div>
         </td>        <td> <a class = "btn btn-warning" href="{%url "budgettracker-update" budget.id%}">Update</a> <a class = "btn btn-danger" href="{%url "budgettracker-delete" budget.id%}">Delete</a></td>

       </tr>
    {% endfor %}


</tbody>
</table>


{% endif %}

<p><strong>Total budget this month: $</strong>{{ budget_total|floatformat:2 }}</p>
<p><strong>Total spend this month: $</strong>{{ total_spend|floatformat:2 }}</p>
<p><strong>Total money left to budget: $</strong>{{total_budget_left| floatformat:2}}</p>
<p><div class="alert alert-primary"> If the spend amount is positive at the end of the month use the money to pay down something, save or enjoy something!</div></p>
<p> <div class="alert alert-danger"> If the spend amount is negative, you have a problem and better spend somewhere else, or save less to pay your bills!</div></p>

{% endblock %}
   </div>
</div>
</div>
