{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Add a Record or Update a Record</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="mt-2"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 {% block javascript %}
  	<script>
  $(document).ready(function(){

    the_value = $('#id_amount').val();
    if (the_value <0)
    {
      the_value=the_value*-1;
      $('#id_amount').val(the_value);
    }

  });
      $('#id_account_name').change(function(){
       var account = $(this).val();
       $.ajax({
         url: 'ajax/get_account',
         data:{
           'account': account
         },
         dataType:'json',
         success: function (data){
         $('#id_trans_date').data("DateTimePicker").minDate(data.date);
         }
       });    
       });
  </script>

{% endblock %} 
{% endblock %}